@import '../../../styles/colors';

:root {
  --hover-color: $light-color;
  --hover-scale: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.colorable:hover path {
  stroke: var(--hover-color);
  transition: all 0.5s ease;
}

.scalable:hover {
  transform: scale(var(--hover-scale));
  transition: all 0.5s ease;
}