.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 1em;
  font-family: 'Optimistic Display', sans-serif;

  &>h1 {
    margin: 0;
  }
}

.icon {
  display: flex;
  align-items: center;
  width: 2em;
  margin-right: 0.5em;
}