@font-face {
  font-family: "Optimistic Text";
  src: url("../assets/fonts/Optimistic_Text_W_Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optimistic Display";
  src: url("../assets/fonts/Optimistic_Display_W_Md.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
