@import 'colors';
@import 'fonts';

#root {
  max-width: 780px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  font-family:'Optimistic Text', sans-serif
}

:focus {
  outline: 1px solid $light-color;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $dark-color;
  color: $light-color;
}