@import '../../../../styles/colors';

.option {
  padding: 0 10px;
  cursor: pointer;
  position: relative;

  &::selection {
    background-color: transparent;
  }
  &:hover {
    background-color: rgba($accent-color, 0.5);
    color: $dark-color;
    border-radius: 0.4em;
  }

  &+.option {

    &::after {
      content: '';
  
      position: absolute;
      top: 0;
      left: 0.5em;
      right: 0.5em;
      // width: 50%;
      height: 1px;
      background-color: rgba($dark-color, 0.3);
    }
  }
}