@import '../../../styles/colors';

.button {
  border: 1px solid $accent-color;
  border-radius: 0.4em;
  padding: 10px 22px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  
  &.filled {
    background-color: $accent-color;
    color: $dark-color;
  }
  &.outlined {
    background-color: transparent;
    color: $light-color;
  }
  &:hover {
    &.outlined {
      background-color: $accent-color;
      color: $dark-color;
      transition: background-color 0.2s ease;
    }
    &.filled {
      background-color: $accent-muted-color;
      border: 1px solid $accent-muted-color;
      transition: all 0.2s ease;
    }
  }
  &:active {
    transform: scale(98%) translateY(1px);
  }
}