@import '../../../../styles/colors';

.inputWrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.input {
  background-color: transparent;
  border: 1px solid $light-color;
  border-radius: 0.4em;
  color: $light-color;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 1.2em;

  &:focus {
    outline: 2px solid $light-color;
  }
}

.icon {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
}